<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        }
        
        td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        }
        
        tr:nth-child(even) {
        background-color: #dddddd;
        }
        </style>
</head>
<body>
    <h1>Welcome {{loggedInUser.first_name}}!</h1>
    <a href="/logout">Logout</a>
    <h2>Your Trip Schedules</h2>
    <table>
        <tr>
            <th>Description</th>
            <th>Travel Start Date</th>
            <th>Travel end Date</th>
            <th>Plan</th>
            <th>Action</th>
        </tr>
        {% for trip in favTrips %}
        <tr>
            <td><a href="/view/{{trip.id}}">{{trip.name}}</a></td>
            <td>{{trip.start}}</td>
            <td>{{trip.end}}</td>
            <td>{{trip.plan}}</td>
            <td><a href="/removeTrip/{{trip.id}}">Cancel</a>
                <a href="/deleteTrip/{{trip.id}}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="/addtrip">Add Trip!</a>
    <hr>
    <h2>Other User's Travel Plans</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Travel Start Date</th>
            <th>Travel end Date</th>
            <th>Do You Want to Join?</th>
        </tr>
        {% for trip in nonFavTrips %}
        <tr>
            <td><a href="/view/{{trip.id}}">{{trip.name}}</a></td>
            <td>{{trip.start}}</td>
            <td>{{trip.end}}</td>
            <td><a href="/joinTrip/{{trip.id}}">Join</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>